.my-pets-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.my-pets-header-container {
  position: relative;
  top: 60px;
  left: 50px;
  height: 20%;
}

.my-pets-toggle-container {
  width: 95%;
  border-top: 2.5px solid #fec861;
  padding-top: 40px;
  position: relative;
  top: 80px;
  margin-left: 50px;
}

.my-pets-form.sub-header {
  margin-bottom: 25px;
}

.my-pets-results-container {
  position: relative;
  top: 70px;
  width: 100vw;
  height: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-pets-search-type-header {
  margin-left: 8%;
  position: relative;
  top: 40px;
}
