.profile-main-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.my-pets-header-container {
  position: relative;
  top: 60px;
  left: 50px;
  padding-bottom: 20px;
}

.my-pets-toggle-container {
  width: 70%;
  height: 10%;

  margin-left: 50px;
}

.my-pets-form.sub-header {
  margin-bottom: 25px;
}

.my-pets-results-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-pets-search-type-header {
  margin-left: 8%;
  position: relative;
  top: 40px;
}

.default-results-container {
  width: 100%;
}

.default-results-message {
  text-align: center;
  margin-top: 10%;
}
