.admin-all-users-container {
  height: 100%;
}

.admin-users-header-container {
  position: relative;
  top: 60px;
  left: 50px;
  width: 60%;
  border-bottom: 2.5px solid #fec861;
}

.admin-users-header {
  padding-bottom: 40px;
  position: relative;
}

.admin-users-container {
  margin-top: 100px;
  margin-bottom: 80px;
  margin-left: 40px;
  width: 80%;
  height: 100%;
}
