.footer-container {
  position: absolute;
  bottom: 0px;
  /* position: relative; */
  left: 0;
  /* bottom: 0; */
  right: 0;
  width: 100vw;
  background-color: #ffc1c2;
  height: 100px;
  display: flex;
  align-items: center;
}

.social-media-icons {
  flex: 1;
  margin: 30px;
  width: 15%;
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.website-author {
  color: #6a6a6a;
  flex: 1;

  margin-left: 8%;
}
