.pet-card {
  position: relative;
}

.pet-listing-container {
  width: 300px;
  height: 480px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  margin: 50px;
  margin-bottom: 10px;
  object-fit: cover;
}

.pet-listing-container:hover {
  opacity: 0.3;
  transition: 0.7s;
}

.pet-status-container {
  width: 22%;
  word-wrap: break-word;
  height: auto;
  background-color: #ff6463;
  position: relative;
  top: -495px;
  right: -240px;
  border-radius: 20px;
  text-align: center;
}

.pet-status-txt {
  color: #ffffff;
  font-size: 0.8rem;
}

.pet-name-container {
  position: relative;
  background-color: #ffffff;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  bottom: 100px;
  left: 145px;
  transition: background-color 0.5s;
}

.pet-name-txt {
  padding-top: 3px;
  font-weight: 500;
  color: #565555;
}

/* .pet-name-container:hover {
  background-color: #fec861;
  content: "Here";
  transition: background-color 0.5s;
} */
