.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-filter-container {
  height: 30%;
}

.search-results-container {
  height: 100%;
}

.search-headers-container {
  background-color: rgb(243, 243, 243);
  margin-top: 60px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.search-results-null {
  text-align: center;

  margin-top: 100px;
}
