html,
body,
#root {
  height: 100%;
}
* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  /* height: 1000px; */
}

/* .footer-container {
  position: absolute;
  bottom: 0;
} */

/* 
:root{

} */
