.my-pets-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.my-pets-header-container {
  width: 60%;
  border-bottom: 2.5px solid #fec861;
  margin-bottom: 90px;
}

.my-pets-form-container {
  height: 100%;
  width: 100%;
}
